$primary-background: #222222;
$secondary-background: #333333;
$terciary-background: #f9f9f9;
$primary-button-color: #bead8e;
$primary-font-color: #ffffff;
$secondary-font-color: #777777;
$principal-margin-left: 20px;
$principal-title-size: 56px;

$primary-font: "Old Standard TT",
serif;
$secondary-font: "Archivo",
sans-serif;
$terciary-font: "Roboto",
sans-serif;

header {
    .header__cover {
        background-color: $primary-background;
        color: $primary-font-color;
        width: 100%;
        position: absolute;

        h4 {
            font-family: $secondary-font;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: 2.8px;
            font-size: 13px;
            margin: auto;
            margin-left: $principal-margin-left;
            margin-top: 60px;
        }

        h1 {
            font-family: $primary-font;
            font-weight: 400;
            font-size: 56px;
            margin: auto;
            margin-left: $principal-margin-left;
            margin-bottom: 40px;
            margin-top: 15px;
        }

        .header__cover--choices {
            background-color: $primary-font-color;
            border: none;
            color: black;
            display: flex;
            justify-content: center;
            font-family: $secondary-font;
            font-weight: 700;
            margin-left: 190px;
            padding: 5px;
            width: 156px;
            height: 49px;

            a {
                display: inline-block;
                font-family: $secondary-font;
                margin-top: 10px;
                font-size: 16px;
                padding: 5px;
            }

            .about {
                color: $primary-button-color;
            }
        }
    }
}



// Desk Responsive
@media only screen and (min-width: 1000px) {

    header {
        .header__cover {
            background-color: $secondary-background;

            h4 {
                margin-top: 100px;
                margin-left: 20%;

            }

            h1 {
                margin-left: 20%;

            }

            .header__cover--choices {
                margin-left: 70%;
              
            }
        }
    }

}