$primary-background: #222222;
$secondary-background: #333333;
$terciary-background: #f9f9f9;
$primary-button-color: #bead8e;
$primary-font-color: #ffffff;
$secondary-font-color: #777777;
$principal-margin-left: 20px;
$principal-title-size: 56px;

