$primary-background: #222222;
$secondary-background: #333333;
$terciary-background: #f9f9f9;
$primary-button-color: #bead8e;
$primary-font-color: #ffffff;
$secondary-font-color: #777777;
$principal-margin-left: 20px;
$principal-title-size: 56px;

$primary-font: "Old Standard TT", serif;
$secondary-font: "Archivo", sans-serif;
$terciary-font: "Roboto", sans-serif;

header {
  .header__cover {
    background-color: $primary-background;
    color: $primary-font-color;
    width: 100%;

    h4 {
      font-family: $secondary-font;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 2.8px;
      font-size: 13px;
      margin: auto;
      margin-left: $principal-margin-left;
      margin-top: 60px;
    }

    h1 {
      font-family: $primary-font;
      font-weight: 400;
      font-size: 56px;
      margin: auto;
      margin-left: $principal-margin-left;
      margin-bottom: 40px;
      margin-top: 15px;
    }

    .header__cover--choices {
      background-color: $primary-font-color;
      border: none;
      color: black;
      display: flex;
      justify-content: center;
      font-family: $secondary-font;
      font-weight: 700;
      margin-left: 190px;
      padding: 5px;
      width: 156px;
      height: 49px;

      a {
        display: inline-block;
        font-family: $secondary-font;
        margin-top: 10px;
        font-size: 16px;
        padding: 5px;
      }

      .about {
        color: $primary-button-color;
      }
    }
  }
}

body {
  .body__container--video {
    h1 {
      display: flex;
      margin: auto;
      margin-top: 20px;
      font-weight: 200;
      padding: 10px;
      width: 90%;
    }

    video {
      display: flex;
      margin: auto;
      margin-top: 100px;
      width: 90%;
    }
  }

  .four__sections {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    margin-top: 50px;
  }

  .restaurant__container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    h4 {
      color: $secondary-font-color;

      font-family: "Archivo", sans-serif !important;
      letter-spacing: 2.8px;
      font-weight: 500;
      margin-left: $principal-margin-left;
      margin-top: 50px;
    }

    h1 {
      font-size: 40px;
      margin-left: $principal-margin-left;
      font-weight: 100;
      margin-bottom: 10px;
      margin-top: 50px;
      color: $primary-background;
    }

    p {
      font-family: "Archivo", sans-serif !important;
      margin-left: $principal-margin-left;
      margin-right: $principal-margin-left;
      text-align: left;
      line-height: 24px;
      font-size: 14px;
      color: $secondary-font-color;
    }

    .fake-photo {
      width: 80%;
      margin: auto;
    }
  }

  .about__container--facilities {
    background-color: $primary-background;
    padding: 30px;
    margin-top: 100px;

    h4 {
      color: $primary-font-color;
      font-family: $secondary-font;
      letter-spacing: 2.8px;
      text-align: center;
      margin-bottom: 20px;
    }

    h1 {
      color: $primary-font-color;
      text-align: center;
      font-size: 45px;
    }

    .facilities__container--images {
      display: none;
    }
  }

  .counter__container {
    h4 {
      color: $secondary-font-color;

      font-family: "Archivo", sans-serif !important;
      letter-spacing: 2.8px;
      font-weight: 500;
      margin-left: $principal-margin-left;
      margin-top: 50px;
    }

    h1 {
      color: $primary-background;
      font-size: $principal-title-size;
      margin-left: $principal-margin-left;
      font-weight: 100;
      margin-bottom: 10px;
      margin-top: 20px;
    }

    .facts__container--images {
      width: 95%;
      margin: auto;
    }
  }
  .little-slider__container {
    display: flex;
    flex-direction: column;

    img {
      margin: auto;
      margin-top: 20px;
      width: 300px;
    }
  }

  .swiper__core--facilities {
    display: flex;
    width: 300px;
    height: 400px;
    --swiper-navigation-size: 15px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;

    .swiper-pagination-bullet {
      background-color: #bead8e;
    }

    .swiper-slide {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin: auto;
      height: 90%;
    }
  }
}

// Desk Responsive
@media only screen and (min-width: 1000px) {
  header {
    .header__cover {
      background-color: $secondary-background;
      padding: 50px;
      height: 360px;

      h4 {
        margin-top: 120px;
        margin-left: 20%;
      }

      h1 {
        margin-left: 20%;
      }

      .header__cover--choices {
        margin-left: 70%;
      }
    }
  }

  body {
    .swiper__core--facilities {
      display: none;
    }

    .body__container--video {
      display: flex;
      flex-direction: column;
      margin-top: 350px;
      margin: auto;

      h1 {
        font-size: 50px;
        font-weight: 200;
        padding: 20px;
        margin: auto;
        margin-top: 20px;
        width: 60%;
      }

      video {
        margin: auto;
        margin-top: 100px;
        width: 60%;
      }
    }

    .four__sections {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 80%;
      margin: auto;
      margin-top: 50px;
    }

    .restaurant__container {
      display: grid;
      grid-template-columns: 50% 50%;
      margin-top: 50px;
      margin-bottom: $principal-title-size;

      img {
        height: 80%;
      }

      button {
        margin-left: $principal-margin-left;
      }
    }

    .about__container--facilities {
      background-color: $primary-background;
      padding: 30px;

      h4 {
        color: $primary-font-color;
      }

      h1 {
        color: $primary-font-color;
      }

      .facilities__container--images {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
      }
    }

    .counter__container {
      padding: 20px;

      .facts__container--images {
        display: flex;
        justify-content: space-between;
      }
    }

    .little-slider__container {
      display: flex;
      flex-direction: row;

      img {
        width: 600px;
      }
    }
  }
}
