$primary-background: #222222;
$secondary-background: #333333;
$terciary-background: #f9f9f9;
$primary-button-color: #bead8e;
$primary-font-color: #ffffff;
$secondary-font-color: #777777;
$principal-margin-left: 20px;
$principal-title-size: 56px;


html, body {
  overflow-x: hidden
}

.header {
  width: 100%;
  height: 100%;
  background-color: $primary-background;
  color: $primary-font-color;
  //   position: fixed;

  .header__container {
    background-color: $secondary-background;
    width: 100%;
    height: 68%;

    .header__container-titles {
      // margin-top: 8%;
      border: 1px solid transparent;
    }

    h4 {
      font-family: "Archivo", sans-serif !important;
      letter-spacing: 2.8px;
      font-weight: 400;
      margin-top: 90px;
      margin-bottom: 30px;
      margin-left: $principal-margin-left;
    }

    h2 {
      font-size: 56px;
      margin-left: $principal-margin-left;
      font-weight: 100;
    }
  }
}

button {
  font-family: "Archivo", sans-serif !important;
  border-radius: none;
  color: $primary-font-color;
  cursor: pointer;
  letter-spacing: 2.8px;
  margin-left: $principal-margin-left;
  margin-top: 30px;
  width: 200px;
}

.button__primary {
  background-color: $primary-button-color;
  border: none;
  padding: 20px;
  color: $primary-font-color;
}

.button__secondary {
  background-color: $secondary-background;
  border: 1px solid $primary-button-color;
  padding: 19px;
  margin-bottom: 70px;
}

.form__container {
  height: 270px;

  form {
    margin-top: 20px;
    margin-left: $principal-margin-left;

    fieldset {
      border: none;

      p {
        label {
          font-family: "Roboto", sans-serif !important;
          font-weight: 600;
          font-size: 14px;
        }

        .form__input {
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: 2px solid $primary-button-color;
          background-color: $primary-background;
          color: $primary-font-color;
          margin-bottom: 20px;
          margin-top: 5px;
          padding: 7px;
          width: 80%;

          &::placeholder {
            color: #f2e7d491;
            font-family: "Roboto", sans-serif !important;
          }
        }

        img {
          width: 12px;
        }
      }

      button {
        width: 250px;
        height: 50px;
        margin-bottom: 15px;
        margin-left: 1px;
      }
    }
  }
}

.main__container {
  display: flex;
  flex-direction: column;

  .main__container--text {
    display: flex;
    flex-direction: column;
    background-color: $terciary-background;
    margin-top: 50px;
    padding: 5px;
    // border: 1px solid green;

    h4 {
      color: $secondary-font-color;
      font-family: "Archivo", sans-serif !important;
      letter-spacing: 2.8px;
      font-weight: 600;
      margin-left: $principal-margin-left;
    }

    h1 {
      font-size: $principal-title-size;
      margin-left: $principal-margin-left;
      font-weight: 100;
      margin-bottom: 10px;
      margin-top: 50px;
      color: #111111;
    }

    p {
      color: $secondary-font-color;
      font-family: "Archivo", sans-serif !important;
      margin-left: $principal-margin-left;
      margin-right: $principal-margin-left;
      text-align: left;
      line-height: 1.5;
      font-size: 14px;
    }

    .button__primary {
      margin-bottom: 50px;
    }
  }

  .main__container--photos {
    display: flex;
    flex-direction: column;
    //  border: 1px solid pink;
    margin-top: 30px;

    .fake-photo {
      width: 100%;
      margin: auto;

      & img {
        display: flex;
        margin: auto;
      }
    }

    .strong__team {
      //   border: 1px solid green;
      background-image: url(../../assets/team/team-light.png);
      background-repeat: no-repeat;
      background-position: 100% 10%;
      background-size: 55% 35%;
      display: flex;
      flex-direction: column;
      margin: auto;
      margin-bottom: 50px;
      width: 270px;
      height: 300px;

      .logo {
        display: flex;
        margin: auto;
      }

      h2 {
        text-align: center;
        font-family: "Old Standard TT", serif !important;
        font-weight: 100;
        font-size: 30px;
        margin-bottom: 20px;
      }

      p {
        text-align: center;
        font-family: "Roboto", sans-serif !important;
        font-size: 14px;
        margin-bottom: 80px;
      }
    }
  }

  .luxury__room {
    // border: 1px solid yellow;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 270px;
    height: 300px;
    background-color: #222222;
    color: $primary-font-color;
    // margin-top: 20px;

    & img {
      display: flex;
      margin: auto;
      margin-top: 50px;
    }

    h2 {
      text-align: center;
      font-family: "Old Standard TT", serif !important;
      font-weight: 100;
      font-size: 30px;
      margin-bottom: 20px;
    }

    p {
      text-align: center;
      font-family: "Roboto", sans-serif !important;
      font-size: 14px;
      margin-bottom: 60px;
    }
  }
}

.main__rooms {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;

  .slider {
    display: flex;

    width: 100%;

    img {
      width: 100%;
      height: 70%;
    }

    .rooms__navbar {
      // border: 1px solid black;
      display: flex;
      padding: 15px;
      width: 70%;
      position: absolute;
      background-color: white;
      margin-left: 15%;

      img {
        width: 13px;
        margin: auto;
      }
    }
  }

  h4 {
    color: $secondary-font-color;
    font-family: "Archivo", sans-serif !important;
    letter-spacing: 2.8px;
    font-weight: 600;
    text-align: center;
  }

  h1 {
    font-size: $principal-title-size;
    text-align: center;
    font-weight: 100;
    margin-bottom: 10px;
    margin-top: 50px;
    color: #111111;
  }
}

.slider__container--bottom {
  // border: 1px solid green;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  width: 80%;

  h3 {
    font-family: "Old Standard TT", serif !important;
    font-weight: 300;
    font-size: 28px;
    text-align: center;
  }

  p {
    font-family: "Roboto", sans-serif !important;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    margin-top: 15px;
    color: #777777;
    line-height: 1.5;
  }

  .pricing {
    color: #bead8e;
    display: inline-block;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 50px;

    h3 {
      font-family: "Archivo", sans-serif !important;
      font-weight: 700;

      small {
        font-family: "Archivo", sans-serif !important;
        font-weight: 500;
        font-size: 12px !important;
      }
    }
  }
}

.video__container {
  background-color: $primary-background;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  // border: 1px solid green;

  h4 {
    color: $primary-button-color;
    font-family: "Archivo", sans-serif !important;
    letter-spacing: 2.8px;
    font-weight: 500;
    margin-left: $principal-margin-left;
    margin-top: 50px;
  }

  h1 {
    font-size: $principal-title-size;
    margin-left: $principal-margin-left;
    font-weight: 100;
    margin-bottom: 10px;
    margin-top: 50px;
    color: white;
  }

  p {
    color: #c2c2c2;
    font-family: "Archivo", sans-serif !important;
    margin-left: $principal-margin-left;
    margin-right: $principal-margin-left;
    margin-bottom: 50px;
    text-align: left;
    line-height: 1.5;
    font-size: 14px;
  }

  .fake-photo {
    width: 80%;
    margin-left: $principal-margin-left;
    margin-top: $principal-title-size;
    margin-bottom: $principal-title-size;
  }
}

.facilities__container {
  h4 {
    color: $secondary-font-color;
    font-family: "Archivo", sans-serif !important;
    letter-spacing: 2.8px;
    font-weight: 600;
    margin-top: $principal-title-size;
    margin-bottom: 30px;
    text-align: center;
  }

  h1 {
    font-size: $principal-title-size;
    font-weight: 100;
    color: black;
    text-align: center;
  }

  div {
    //   border: 1px solid red;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 40px;

    .finger {
      margin-top: 100px;
    }

    .number {
      width: 150px;
      height: 100px;
    }
  }

  .donut__container {
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 30px;
      font-weight: 100;
      color: black;
      text-align: left;
      margin-left: $principal-margin-left;
      margin-bottom: 10px;
    }

    p {
      font-family: "Roboto", sans-serif !important;
      text-align: left;
      font-weight: 300;
      font-size: 14px;
      margin-top: 15px;
      color: #777777;
      line-height: 1.5;
      margin-left: $principal-margin-left;
      margin-bottom: 30px;
    }

    .slider-buttons {
      width: 90px;
      margin: auto;
      margin-bottom: 50px;
    }

    .donut {
      width: 115px;
      align-self: flex-end;
    }
  }
}

.menu__container {
  h4 {
    margin-left: $principal-margin-left;
    font-family: "Archivo", sans-serif !important;
    letter-spacing: 2.8px;
    font-weight: 300;
    color: $secondary-font-color;
    margin-bottom: $principal-margin-left;
  }

  h1 {
    font-family: "Old Standard TT", serif !important;
    font-size: $principal-title-size;
    font-weight: 100;
    margin-left: $principal-margin-left;
  }

  .menu__list {
    // border: 1px solid yellow;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: $principal-margin-left;
    margin-bottom: 10px;
    margin-right: $principal-margin-left;
    margin-top: $principal-margin-left;

    .menu__list--photo {
      display: grid;
      grid-column: 1;

      // border: 1px solid green;
      img {
        width: 120px;
        height: 120px;
        margin: auto;
      }
    }

    .menu__list--text {
      display: grid;
      grid-column: 2;

      h4 {
        font-family: "Old Standard TT", serif !important;
        color: #111111;
        font-size: 18px;
        font-weight: 300;
      }

      p {
        font-size: 12px;
      }
    }
  }
}

.menu__container--buttons {
  // border: 1px solid green;
  display: flex;
  flex-direction: row-reverse;
  font-family: "Archivo", sans-serif !important;
  margin-right: $principal-margin-left;
  margin-top: $principal-margin-left;

  .left {
    // border: 1px solid red;
    width: 36px;
    height: 36px;
    background-color: #f8f8f8;

    h6 {
      margin-top: 10px;
      text-align: center;
      font-size: 8px;
    }
  }

  .right {
    // border: 1px solid red;
    background-color: #bead8e;
    color: white;
    width: 36px;
    height: 36px;

    h6 {
      margin-top: 10px;
      text-align: center;
      font-size: 8px;
    }
  }
}

.little-slider__container {
  // border: 1px solid red;
  display: flex;
  padding: 15px;
  flex-direction: column;
  margin-top: $principal-margin-left;

  .fake-photo {
    margin: auto;
    width: 335px;
    height: 335px;
  }

  .little-slider {
    margin: auto;
    margin-top: 20px;
  }
}

.pre-footer__container {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-background;

  .pre-footer__container--images {
    // border: 1px solid green;
    margin-top: 60px;
    color: white;
    font-weight: 500;
    margin-bottom: 50px;

    img {
      display: flex;
      margin: auto;
    }

    h2 {
      text-align: center;
      font-family: "Roboto", sans-serif;
      margin-top: $principal-margin-left;
      font-size: 45px;

      small {
        font-size: 10px;
      }
    }

    p {
      text-align: center;
      font-size: 12px;
      font-family: "Roboto", sans-serif;
      color: #c2c2c2;
    }
  }
}

footer {
  background-image: url(../../assets/footer/background.png);
  display: grid;
  grid-template-columns: 100%;
  margin-top: 70px;
  width: 100%;
  height: 100%;

  .footer__socials {
    margin-bottom: $principal-margin-left;

    img {
      margin-top: 50px;
    }

    p {
      font-family: "Archivo", sans-serif;
      text-align: left;
      font-size: 14px;
      line-height: 1.75;
      color: $secondary-font-color;
      margin-left: $principal-margin-left;
      margin-right: $principal-margin-left;
    }

    .socials {
      margin-top: 40px;
      margin-left: $principal-margin-left;
      margin-right: $principal-margin-left;
    }
  }

  h4 {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-size: 24px;
    margin-left: $principal-margin-left;
    margin-bottom: 20px;
  }

  .footer__services {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 30px;

    ul {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: $secondary-font-color;
      list-style: none;
      line-height: 48px;
      margin-left: $principal-margin-left;
    }
  }

  .footer__contact {
    display: grid;
    grid-template-columns: 100%;

    .contact__icon {
      display: grid;
      grid-template-columns: 30% 70%;
      margin-bottom: 60px;

      img {
        margin: auto;
        display: grid;
        grid-column: 1;
      }

      p {
        grid-column: 2;
        margin: auto;
        margin-right: 120px;
        font-family: "Old Standard TT", serif;

        small {
          font-family: "Roboto", sans-serif;
          color: $secondary-font-color;
        }
      }
    }
  }
}
.footer__policy {
  background-color: #f8f8f8;
  padding: 10px;
  h4 {
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
  }
}

// Desk Responsive

@media only screen and (min-width: 1000px) {

  .header {
    .header__container {
      .header__container-titles {
        h4 {
          font-family: "Archivo", sans-serif !important;
          letter-spacing: 2.8px;
          font-weight: 400;
          margin-top: 150px;
          margin-bottom: 30px;
          margin-left: 20%;
        }

        h2 {
          font-size: 56px;
          margin-left: 20%;
          font-weight: 100;
        }
      }
    }
  }

  button {
    margin-left: 20%;
  }

  .button__secondary {
    margin-left: 5% !important;
  }

  .form__container {
    //   border: 1px solid yellow;
    height: 100px;

    form {
      margin-left: 20%;
      // border: 1px solid red;
      height: 130px;
      width: 100%;
      margin-top: 40px;


      fieldset {
        border: none;
        display: flex;
        width: 90%;
        //   border: 1px solid blue;

        p {
          margin-left: 60px;

          label {
            font-size: 13px;
          }

          .form__input {
            width: 230px;

            &::placeholder {
              color: #f2e7d491;
              font-family: "Roboto", sans-serif !important;
            }
          }

          img {
            width: 12px;
          }
        }

        button {
          width: 250px;
          height: 50px;
          margin-bottom: 15px;
          margin-left: 20%;
        }
      }
    }
  }

  .main__container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 50px;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    // border: 1px solid blue;

    .main__container--text {
      display: grid;
      background-color: $terciary-background;
      grid-column: 2;
      // border: 1px solid green;
      margin: auto;

      h4 {
        margin-top: 20px;
      }

      button {
        margin-left: $principal-margin-left;
      }
    }

    .main__container--photos {
      display: grid;
      grid-row: 1;
      grid-template-columns: 50% 50%;
      // border: 1px solid red;
      margin: auto;
      gap: 10px;
      width: 100%;
    }
  }

  .main__rooms {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;

    .slider {
      display: flex;
      // border: 1px solid red;
      margin: auto;
      margin-top: 50px;
      width: 70%;

      img {
        margin: auto;
        width: 70%;
        height: 50%;
      }

      .rooms__navbar {
        // border: 1px solid black;
        display: flex;
        width: 20%;
        margin: auto;
        margin-left: 25%;
        box-shadow: 1px 1px 8px rgb(146, 145, 145);
      }
    }
  }

  .slider__container--bottom {
    // border: 1px solid green;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    width: 80%;

    h3 {
      font-family: "Old Standard TT", serif !important;
      font-weight: 300;
      font-size: 28px;
      text-align: center;
    }

    p {
      font-family: "Roboto", sans-serif !important;
      text-align: center;
      font-weight: 300;
      font-size: 14px;
      margin-top: 15px;
      color: #777777;
      line-height: 1.5;
    }

    .pricing {
      color: #bead8e;
      display: inline-block;
      height: 30px;
      margin-top: 20px;

      h3 {
        font-family: "Archivo", sans-serif !important;
        font-weight: 700;

        small {
          font-family: "Archivo", sans-serif !important;
          font-weight: 500;
          font-size: 12px !important;
        }
      }
    }
  }

  .video__container {
    display: grid;
    grid-template-columns: 65% 35%;
    margin-top: 50px;
    margin-bottom: $principal-title-size;

    .text__container {
      display: grid;
      grid-column: 1;
      width: 70%;
      margin: auto;

      button {
        margin-bottom: $principal-title-size;
        margin-left: $principal-margin-left;
      }
    }

    .image__container {
      display: grid;
      grid-column: 2;
      background-color: $primary-button-color;

      img {
        margin: auto;
        width: 65%;
      }
    }
  }

  .little-slider__container {
    // border: 1px solid red;
    display: flex;
    padding: 15px;
    flex-direction: column;
    margin-top: $principal-margin-left;

    .fake-photo {
      margin: auto;
      mask-repeat: repeat;
    }

    .little-slider {
      display: none;
    }
  }

  .pre-footer__container {
    // border: 1px solid red;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 70px;

    .pre-footer__container--images {
      // border: 1px solid green;
      color: white;
      font-weight: 500;
      margin: auto;

      img {
        display: flex;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
      }

      p {
        margin-bottom: 50px;
      }
    }
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 100px;

    .footer__services {
      display: grid;
      grid-template-columns: 50% 50%;

      ul {
        font-size: 14px;
      }
    }

    .footer__contact {
      display: grid;
      grid-template-columns: 100%;

      .contact__icon {
        display: grid;
        grid-template-columns: 30% 70%;
        margin-bottom: 60px;

        h4 {
          font-family: "Old Standard TT", serif;
          font-weight: 400;
          font-size: 24px;
          margin-left: $principal-margin-left;
        }
      }
    }
  }

  .footer__policy {
    background-color: #f8f8f8;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    h4 {
      margin-top: 20px;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: 700;
      margin: auto;
    }
  }
}
