$primary-background: #222222;
$secondary-background: #333333;
$terciary-background: #f9f9f9;
$primary-button-color: #bead8e;
$primary-font-color: #ffffff;
$secondary-font-color: #777777;
$principal-margin-left: 20px;

.header {
  width: 100%;
  height: 100%;
  background-color: $primary-background;
  color: $primary-font-color;
  //   position: fixed;

  .header__container {
    background-color: $secondary-background;
    width: 100%;
    height: 68%;
    // position: fixed;
    .header__container-titles {
      // margin-top: 8%;
      border: 1px solid transparent;
    }

    h4 {
      font-family: "Archivo", sans-serif !important;
      letter-spacing: 2.8px;
      font-weight: 400;
      margin-top: 90px;
      margin-bottom: 30px;
      margin-left: $principal-margin-left;
    }
    h2 {
      font-size: 56px;
      margin-left: $principal-margin-left;
      font-weight: 100;
    }
  }
}

button {
  font-family: "Archivo", sans-serif !important;
  border-radius: none;
  color: $primary-font-color;
  cursor: pointer;
  letter-spacing: 2.8px;
  margin-left: $principal-margin-left;
  margin-top: 30px;
  width: 200px;
}
.button__primary {
  background-color: $primary-button-color;
  border: none;
  padding: 20px;
  color: $primary-font-color;
}
.button__secondary {
  background-color: $secondary-background;
  border: 1px solid $primary-button-color;
  padding: 19px;
  margin-bottom: 70px;
}

.form__container {
  height: 270px;
  form {
    margin-top: 20px;
    margin-left: $principal-margin-left;

    fieldset {
      border: none;

      p {
        label {
          font-family: "Roboto", sans-serif !important;
          font-weight: 600;
          font-size: 13px;
        }
        .form__input {
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: 2px solid $primary-button-color;
          background-color: $primary-background;
          color: $primary-font-color;
          margin-bottom: 20px;
          margin-top: 5px;
          padding: 7px;
          width: 80%;

          &::placeholder {
            color: #f2e7d491;
            font-family: "Roboto", sans-serif !important;
          }
        }
        img {
          width: 12px;
        }
      }
      button {
        width: 250px;
        height: 50px;
        margin-bottom: 15px;
        margin-left: 1px;
      }
    }
  }
}

.main__container {
  display: flex;
  flex-direction: column;

  .main__container--text {
    display: flex;
    flex-direction: column;
    background-color: $terciary-background;
    margin-top: 50px;
    padding: 5px;
    // border: 1px solid green;

    h4 {
      color: $secondary-font-color;
      font-family: "Archivo", sans-serif !important;
      letter-spacing: 2.8px;
      font-weight: 500;
      margin-left: $principal-margin-left;
    }

    h1 {
      font-size: 50px;
      margin-left: $principal-margin-left;
      font-weight: 100;
      margin-bottom: 10px;
      margin-top: 50px;
      color: #111111;
    }

    p {
      color: $secondary-font-color;
      font-family: "Archivo", sans-serif !important;
      margin-left: $principal-margin-left;
      margin-right: $principal-margin-left;
      text-align: left;
      line-height: 1.5;
      font-size: 13px;
    }

    .button__primary {
      margin-bottom: 50px;
    }
  }
  .main__container--photos {
    display: flex;  
    flex-direction: column; 
    //  border: 1px solid pink;
    margin-top: 30px;

    .fake-photo {
      width: 100%;
      margin: auto;

      & img {
        display: flex;
        margin: auto;
      }
    }
    .strong__team {
      //   border: 1px solid green;
      background-image: url(../../assets/team/team-light.png);
      background-repeat: no-repeat;
      background-position: 100% 10%;
      background-size: 55% 35%;
      display: flex;
      flex-direction: column;
      margin: auto;
      margin-bottom: 50px;
      width: 270px;
      height: 300px;

      .logo {
        display: flex;
        margin: auto;
      }
      h2 {
        text-align: center;
        font-family: "Old Standard TT", serif !important;
        font-weight: 100;
        font-size: 30px;
        margin-bottom: 20px;
      }

      p {
        text-align: center;
        font-family: "Roboto", sans-serif !important;
        font-size: 16px;
        margin-bottom: 80px;
      }
    }
  }

  .luxury__room {
    // border: 1px solid yellow;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 270px;
    height: 300px;
    background-color: #222222;
    color: $primary-font-color;
    // margin-top: 20px;

    & img {
      display: flex;
      margin: auto;
      margin-top: 50px;
    }

    h2 {
      text-align: center;
      font-family: "Old Standard TT", serif !important;
      font-weight: 100;
      font-size: 30px;
      margin-bottom: 20px;
    }

    p {
      text-align: center;
      font-family: "Roboto", sans-serif !important;
      font-size: 16px;
      margin-bottom: 60px;
    }
  }
}

// Desk Responsive

@media only screen and (min-width: 1000px) {
  .header {
    .header__container {
      .header__container-titles {
        h4 {
          font-family: "Archivo", sans-serif !important;
          letter-spacing: 2.8px;
          font-weight: 400;
          margin-top: 150px;
          margin-bottom: 30px;
          margin-left: 20%;
        }
        h2 {
          font-size: 56px;
          margin-left: 20%;
          font-weight: 100;
        }
      }
    }
  }

  button {
    margin-left: 20%;
  }

  .button__secondary {
    margin-left: 5% !important;
  }

  .form__container {
    //   border: 1px solid yellow;
    height: 150px;
    form {
      margin-left: 20%;
      // border: 1px solid red;
      height: 130px;
      width: 100%;

      fieldset {
        border: none;
        display: flex;
        width: 90%;
        //   border: 1px solid blue;

        p {
          margin-left: 60px;
          label {
            font-size: 13px;
          }
          .form__input {
            padding: 7px;
            width: 230px;

            &::placeholder {
              color: #f2e7d491;
              font-family: "Roboto", sans-serif !important;
            }
          }
          img {
            width: 12px;
          }
        }
        button {
          width: 250px;
          height: 50px;
          margin-bottom: 15px;
          margin-left: 20%;
        }
      }
    }
  }


.main__container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 50px;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    // border: 1px solid blue;

    .main__container--text {
        display: grid;
        background-color: $terciary-background;
        grid-column: 2;
        // border: 1px solid green;
        margin: auto;

        h4 {
            margin-top: 20px;
        }
        button {
            margin-left: $principal-margin-left;
        }
    }

    .main__container--photos {
        display: grid;
        grid-row: 1;
        grid-template-columns: 50% 50%;
        // border: 1px solid red;
        margin: auto;
        gap: 10px;
        width: 100%;

    

    }

}
}
