$primary-background: #222222;
$secondary-background: #333333;
$terciary-background: #f9f9f9;
$primary-button-color: #bead8e;
$primary-font-color: #ffffff;
$secondary-font-color: #777777;
$principal-margin-left: 20px;
$principal-title-size: 56px;

@media only screen and (min-width: 1000px) {
  .map {
    display: flex;
    margin: auto;
    height: 500px;
    width: 800px;
    margin-top: 50px;
  }

  .custom-map-control-button {
    background: rgb(255, 255, 255) none repeat scroll 0% 0% padding-box;
    display: table-cell;
    border: 0px none;
    margin: 10px;
    padding: 0px 17px;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    height: 40px;
    color: rgb(86, 86, 86);
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  }
}
