$primary-background: #222222;
$secondary-background: #333333;
$terciary-background: #f9f9f9;
$primary-button-color: #bead8e;
$primary-font-color: #ffffff;
$secondary-font-color: #777777;
$principal-margin-left: 20px;
$principal-title-size: 56px;

.map {
  display: flex;
  margin: auto;
  height: 300px;
  width: 350px;
  margin-top: 50px;
  z-index: -1;
}

.custom-map-control-button {
  background: rgb(255, 255, 255) none repeat scroll 0% 0% padding-box;
  display: table-cell;
  border: 0px none;
  margin: 10px;
  padding: 0px 17px;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  height: 40px;
  color: rgb(86, 86, 86);
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

#locations {
  height: 50%;
  width: 50%;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
  left: 0px;
  top: 0px;

  li {
    border-bottom: 1px solid #bead8e61;
    text-align: left;
    list-style: none;
    letter-spacing: 0.5px;
    margin: auto;
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    padding: 10px;
    width: 50%;
  }

  h6 {
    color: #777777 !important;
    text-align: right;
    list-style: none;
    margin: auto;
    font-size: 16px;
    font-family: "Archivo", sans-serif;
    font-weight: 500;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  .input__container {
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 35%;

    #input__text {
      border: 1px solid rgba(128, 128, 128, 0.382);
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      font-size: 16px;
      font-family: "Archivo", sans-serif;
      height: 35px;
      width: 270px;
    }

    #button__input {
      background-color: #bead8e;
      border: none;
      color: white;
      padding: 10px;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 120px;

      &:hover {
        scale: (1.05);
        transition: 0.2s ease;
      }
    }
  }
}

.select__container {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: auto;

  #button__location {
    background-color: #bead8e;
    border: none;
    color: white;
    padding: 10px;
    margin: auto;
    margin-right: 20px;

    &:hover {
      scale: (1.05);
      transition: 0.2s ease;
    }
  }
  .selector {
    width: 30%;
    color: white;
    background-color: #bead8e;
    border: none;
    border-radius: 8px;
    font-family: "Archivo", sans-serif;
    font-size: 14px;
    padding: 10px;
    margin: auto;
    letter-spacing: 2px;
    width: 130px;

    &:hover {
      cursor: pointer;
    }

    option {
      color: white;
      border: none;
      display: flex;
      font-family: "Archivo", sans-serif;
      font-size: 12px;
      align-items: center;
      justify-content: center;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.form__contact {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  font-family: "Archivo", sans-serif;

  h1 {
    align-self: center;
    color: #333333;
  }

  form {
    align-self: center;
    border-top: 1px solid #bead8e;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 90%;

    label {
      margin: 10px 0px;
    }

    input,
    textarea {
      padding: 5px;
    }

    .button {
      align-self: center;
      background-color: #bead8e;
      border-radius: 10px;
      border: none;
      color: white;
      font-size: 15px;
      margin-top: 10px;
      padding: 5px;
      width: 100%;

      &:hover {
        background-color: #655d4e;
        transition: 0.2s ease-in-out;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .map {
    display: flex;
    margin: auto;
    height: 500px;
    width: 800px;
    margin-top: 50px;
    z-index: -1;
  }

  .custom-map-control-button {
    background: rgb(255, 255, 255) none repeat scroll 0% 0% padding-box;
    display: table-cell;
    border: 0px none;
    margin: 10px;
    padding: 0px 17px;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    height: 40px;
    color: rgb(86, 86, 86);
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  }

  #locations {
    height: 100%;
    width: 100%;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;

    li {
      border-bottom: 1px solid #bead8e61;
      text-align: left;
      list-style: none;
      letter-spacing: 0.5px;
      margin: auto;
      font-family: "Archivo", sans-serif;
      font-weight: 500;
      padding: 10px;
      width: 50%;
    }

    h6 {
      color: #777777 !important;
      text-align: right;
      list-style: none;
      margin: auto;
      font-size: 16px;
      font-family: "Archivo", sans-serif;
      font-weight: 500;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .input__container {
      display: flex;
      justify-content: space-around;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 35%;

      #input__text {
        border: 1px solid rgba(128, 128, 128, 0.382);
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 16px;
        font-family: "Archivo", sans-serif;
        height: 35px;
        width: 270px;
      }

      #button__input {
        background-color: #bead8e;
        border: none;
        color: white;
        padding: 10px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 120px;

        &:hover {
          scale: (1.05);
          transition: 0.2s ease;
        }
      }
    }
  }

  .select__container {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;

    #button__location {
      background-color: #bead8e;
      border: none;
      color: white;
      padding: 10px;
      margin: auto;

      &:hover {
        scale: (1.05);
        transition: 0.2s ease;
      }
    }
    .selector {
      width: 30%;
      color: white;
      background-color: #bead8e;
      border: none;
      border-radius: 8px;
      font-family: "Archivo", sans-serif;
      font-size: 14px;
      padding: 10px;
      margin: auto;
      letter-spacing: 2px;

      &:hover {
        cursor: pointer;
      }

      option {
        color: white;
        border: none;
        display: flex;
        font-family: "Archivo", sans-serif;
        font-size: 12px;
        align-items: center;
        justify-content: center;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .form__contact {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    font-family: "Archivo", sans-serif;

    h1 {
      align-self: center;
      color: #333333;
    }

    form {
      align-self: center;
      border-top: 1px solid #bead8e;
      display: flex;
      flex-direction: column;
      padding: 10px;
      width: 50%;

      label {
        margin: 10px 0px;
      }

      input,
      textarea {
        padding: 5px;
      }

      .button {
        align-self: center;
        background-color: #bead8e;
        border-radius: 10px;
        border: none;
        color: white;
        font-size: 15px;
        margin-top: 10px;
        padding: 5px;
        width: 100%;

        &:hover {
          background-color: #655d4e;
          transition: 0.2s ease-in-out;
        }
      }
    }
  }
}
