$primary-background: #222222;

.navbar__header {

  & h6 {
    display: none;
  }
}

.navbar {
  display: flex;
  justify-content: right;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;


  .navbar__container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    width: 100%;
    height: 50%;
    
  }

  .navbar__categories {
    display: none;
  }

  .navbar__categories a:hover {
    cursor: pointer;
  }

  .navbar__container-icon {
    display: flex;
    // border: 1px solid red;
    width: 20%;
  }

  .navbar__container-logo {
    display: flex;
    // border: 1px solid red;
    width: 50%;
    height: 100%;
  }

  .navbar__container-icons-right {
    display: flex;
    // border: 1px solid red;
    width: 25%;
  }
  .navbar__logo {
    width: 130px;
    height: 50px;

 
  }

  .navbar__hamburger {
    width: 20px;
    height: 15px;
    margin: auto;
    background-image: url(../../assets/nav/hamburger-icon.png);
    cursor: pointer;
    border: none;
  
  }

  .navbar__person,
  .navbar__search {
    margin-left: 20px;
    margin: auto;
  }

  // .close__hamburger {
  //   display: none;
  //   width: 14px;
  //   height: 14px;
  //   margin-left: $principal-margin-left;
  //   background-image: url(../../assets/nav/close-nav.png);
  //   border: none;
  //   cursor: pointer;
  // }

  // #menu {
  //   display: none;
  //   list-style: none;
  //   a {
  //     color: inherit;
  //     text-decoration: none;
  //     display: block;
  //     max-width: 200px;

  //   }
  // }
}

//Desk Responsive

@media only screen and (min-width: 1000px) {
  .navbar__header {
    display: flex;
    justify-content: right;
    position: fixed;
    top: 0;
    width: 100%;
  

    h6 {
      display: flex;
      height: 15px;
      color: white;
      font-family: "Roboto", sans-serif !important;

    }
  }
 
  .navbar__header {
    background-color: $primary-background;
    // border: 1px solid yellow;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;


    .navbar {
      display: inline-block;
      width: 75%;
      height: 80px;
      z-index: 2;
      // border: 1px solid red;
      background-color: white !important;
      margin: auto;
      margin-top: 40px;


      .navbar__categories {
        display: inline-flex;
        // border: 1px solid red;
        width: 90%;
        height: 20px;
        margin-top: 20px;
        margin-right: 100px;

        & li {
          list-style: none;
          font-family: "Archivo", sans-serif !important;
          font-size: 12px;
          margin-right: 50px;
          font-weight: 600;
        }
      }

      .navbar__container-icon {
        display: flex;
        // border: 1px solid red;
        width: 20%;
      }

      .navbar__container-logo {
        display: flex;
        // border: 1px solid red;
        width: 60%;
        height: 100%;
        margin-left: -80px;
        margin-top: -30px;
        
      }

      .navbar__container-icons-right {
        display: flex;
        width: 20%;
        margin-right: 90px;
      }
        .navbar__logo {
          width: 180px;
          height: 80px;
          margin-top: 20px;
          width: 170px;
          height: 70px;
          margin-left: 20px;
        
      }


      .navbar__person,
      .navbar__search {
        border: 1px solid rgba(171, 167, 167, 0.459);
        padding: 10px;
        width: 35px;
      }

      .navbar__hamburger {
        display: none;
      }
    }
  }
}
