
  .rooms__offers {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    width: 100%;
    height: 100%;

    div {
      align-self: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;

      img {
        display: flex;
        margin: auto;
        margin-top: 20px;
        width: 90%;
        height: 350px;
        z-index: 1;
      }

      button {
        background: none;
        color: #bdbdbd;
        display: flex;
        justify-content: center;
        text-align: left;
        align-self: center;
        font-family: "Archivo", sans-serif;
        font-size: 18px;
        width: 50%;
      }

      div {
        background-color: white;
        border-top: 5px solid #bead8e;
        display: flex;
        flex-direction: column-reverse;
        margin: auto;
        margin-top: -100px;
        width: 90%;
        z-index: 2;

        h1 {
          font-size: 30px;
          font-weight: 200;
          margin-top: 20px;
        }

        p {
          color: #777777;
          font-family: "Roboto", sans-serif;
          text-align: justify;
          font-size: 15px;
          margin-top: 20px;
          margin-bottom: 30px;
          height: 100px;
          width: 90%;
        }

        h5 {
          color: #bead8e;
          font-size: 20px;
          font-family: "Archivo", sans-serif;
          font-weight: 600;
          width: 50%;
        }

        .titleAndPrice__container {
          background-color: white;
          border-bottom: 1px solid #bead8eac;
          border-top: none;
          display: flex;
          flex-direction: column;
          margin: auto;

          h1 {
            font-size: 40px;
            font-weight: 200;
            margin-top: 20px;
            align-self: flex-start;
          }

          h5 {
            color: #bead8e;
            font-size: 15px;
            font-family: "Archivo", sans-serif;
            font-weight: 600;
            align-self: flex-end;
            text-align: right;
            text-decoration: line-through;
            margin-left: 20px;
          }

          .redPrice {
            color: red;
            font-size: 20px;
            font-family: "Archivo", sans-serif;
            font-weight: 600;
            align-self: flex-end;
            text-decoration: none;
            text-align: right;
            margin-left: 20px;
            margin-top: 20px;
          }
        }
      }
    }
  }

@media only screen and (min-width: 1000px) {
  .rooms__offers {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    width: 100%;
    height: 100%;

    div {
      align-self: center;
      display: flex;
      flex-direction: column;
      margin: auto;
      text-align: left;

      img {
        display: flex;
        margin: auto;
        margin-top: 20px;
        width: 100%;
        height: 350px;
        z-index: 1;
      }

      button {
        background: none;
        color: #bdbdbd;
        display: flex;
        justify-content: center;
        text-align: left;
        align-self: center;
        font-family: "Archivo", sans-serif;
        font-size: 18px;
        width: 50%;
      }

      div {
        background-color: white;
        border-top: 5px solid #bead8e;
        display: flex;
        flex-direction: column-reverse;
        margin: auto;
        margin-top: -100px;
        width: 550px;
        z-index: 2;

        h1 {
          font-size: 30px;
          font-weight: 200;
          margin-top: 20px;
        }

        p {
          color: #777777;
          font-family: "Roboto", sans-serif;
          text-align: left;
          font-size: 15px;
          margin-top: 20px;
          margin-bottom: 30px;
          height: 100px;
        }

        h5 {
          color: #bead8e;
          font-size: 20px;
          font-family: "Archivo", sans-serif;
          font-weight: 600;
          width: 50%;
        }

        .titleAndPrice__container {
          background-color: white;
          border-bottom: 1px solid #bead8eac;
          border-top: none;
          display: flex;
          flex-direction: column;
          margin: auto;

          h1 {
            font-size: 40px;
            font-weight: 200;
            margin-top: 20px;
            align-self: flex-start;
          }

          h5 {
            color: #bead8e;
            font-size: 15px;
            font-family: "Archivo", sans-serif;
            font-weight: 600;
            align-self: flex-end;
            text-align: right;
            text-decoration: line-through;
            margin-left: 20px;
          }

          .redPrice {
            color: red;
            font-size: 20px;
            font-family: "Archivo", sans-serif;
            font-weight: 600;
            align-self: flex-end;
            text-decoration: none;
            text-align: right;
            margin-left: 20px;
            margin-top: 20px;
          }
        }
      }
    }
  }
}
