$primary-background: #222222;
$secondary-background: #333333;
$terciary-background: #f9f9f9;
$primary-button-color: #bead8e;
$primary-font-color: #ffffff;
$secondary-font-color: #777777;
$principal-margin-left: 20px;
$principal-title-size: 56px;

$primary-font: "Old Standard TT",
serif;
$secondary-font: "Archivo",
sans-serif;
$terciary-font: "Roboto",
sans-serif;

body {
    #first__room {
        margin-top: 400px;
    }
}

@media only screen and (min-width: 1000px) {}