html,
body {
  overflow-x: hidden;
}

.swiper-pagination, .swiper-pagination-clickable, .swiper-pagination-bullets, .swiper-pagination-horizontal, .swiper-pagination-bullets-dynamic {
  display: none;
}

.top__button {
  align-items: center;
  background-color: #bdac8d;
  border: none;
  display: flex;
  justify-content: center;
  font-size: 40px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 60px;
  width: 60px;
}
.top__button:hover {
  background-color: rgba(219, 199, 162, 0.8470588235);
  cursor: pointer;
  transition: 0.3s ease;
}

.header {
  width: 100%;
  height: 100%;
  background-color: #222222;
  color: #ffffff;
}
.header .header__container {
  background-color: #333333;
  width: 100%;
  height: 68%;
}
.header .header__container .header__container-titles {
  border: 1px solid transparent;
}
.header .header__container h4 {
  font-family: "Archivo", sans-serif !important;
  letter-spacing: 2.8px;
  font-weight: 400;
  margin-top: 90px;
  margin-bottom: 30px;
  margin-left: 20px;
}
.header .header__container h2 {
  font-size: 56px;
  margin-left: 20px;
  font-weight: 100;
}

button {
  font-family: "Archivo", sans-serif !important;
  border-radius: none;
  color: #ffffff;
  cursor: pointer;
  letter-spacing: 2.8px;
  margin-left: 20px;
  margin-top: 30px;
  width: 200px;
}

.button__primary {
  background-color: #bead8e;
  border: none;
  padding: 20px;
  color: #ffffff;
}

.button__secondary {
  background-color: #333333;
  border: 1px solid #bead8e;
  padding: 19px;
  margin-bottom: 70px;
}

.form__container {
  height: 270px;
}
.form__container form {
  margin-top: 20px;
  margin-left: 20px;
}
.form__container form fieldset {
  border: none;
}
.form__container form fieldset p label {
  font-family: "Roboto", sans-serif !important;
  font-weight: 600;
  font-size: 14px;
}
.form__container form fieldset p .form__input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #bead8e;
  background-color: #222222;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 7px;
  width: 80%;
}
.form__container form fieldset p .form__input::placeholder {
  color: rgba(242, 231, 212, 0.568627451);
  font-family: "Roboto", sans-serif !important;
}
.form__container form fieldset p img {
  width: 12px;
}
.form__container form fieldset button {
  width: 250px;
  height: 50px;
  margin-bottom: 15px;
  margin-left: 1px;
}

.main__container {
  display: flex;
  flex-direction: column;
}
.main__container .main__container--text {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  margin-top: 50px;
  padding: 5px;
}
.main__container .main__container--text h4 {
  color: #777777;
  font-family: "Archivo", sans-serif !important;
  letter-spacing: 2.8px;
  font-weight: 600;
  margin-left: 20px;
}
.main__container .main__container--text h1 {
  font-size: 56px;
  margin-left: 20px;
  font-weight: 100;
  margin-bottom: 10px;
  margin-top: 50px;
  color: #111111;
}
.main__container .main__container--text p {
  color: #777777;
  font-family: "Archivo", sans-serif !important;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  line-height: 1.5;
  font-size: 14px;
}
.main__container .main__container--text .button__primary {
  margin-bottom: 50px;
}
.main__container .main__container--photos {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 30px;
}
.main__container .main__container--photos .room-image {
  width: 300px;
  height: 250px;
}
.main__container .main__container--photos .strong__team {
  background-image: url(../../assets/team/team-light.png);
  background-repeat: no-repeat;
  background-position: 100% 10%;
  background-size: 55% 35%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 50px;
  width: 300px;
  height: 250px;
}
.main__container .main__container--photos .strong__team .logo {
  display: flex;
  margin: auto;
}
.main__container .main__container--photos .strong__team h2 {
  text-align: center;
  font-family: "Old Standard TT", serif !important;
  font-weight: 100;
  font-size: 30px;
  margin-bottom: 20px;
}
.main__container .main__container--photos .strong__team p {
  text-align: center;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  margin-bottom: 80px;
}
.main__container .luxury__room {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 300px;
  height: 250px;
  background-color: #222222;
  color: #ffffff;
}
.main__container .luxury__room img {
  display: flex;
  margin: auto;
  margin-top: 50px;
}
.main__container .luxury__room h2 {
  text-align: center;
  font-family: "Old Standard TT", serif !important;
  font-weight: 100;
  font-size: 30px;
  margin-bottom: 20px;
}
.main__container .luxury__room p {
  text-align: center;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  margin-bottom: 60px;
}

.main__rooms {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
}
.main__rooms .slider {
  display: flex;
  width: 100%;
}
.main__rooms .slider img {
  width: 100%;
  height: 70%;
}
.main__rooms .slider .rooms__navbar {
  display: flex;
  padding: 15px;
  width: 70%;
  position: absolute;
  background-color: white;
  margin-left: 15%;
}
.main__rooms .slider .rooms__navbar img {
  width: 13px;
  margin: auto;
}
.main__rooms h4 {
  color: #777777;
  font-family: "Archivo", sans-serif !important;
  letter-spacing: 2.8px;
  font-weight: 600;
  text-align: center;
}
.main__rooms h1 {
  font-size: 56px;
  text-align: center;
  font-weight: 100;
  margin-bottom: 10px;
  margin-top: 50px;
  color: #111111;
}

.slider__container--bottom {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  width: 80%;
}
.slider__container--bottom h3 {
  font-family: "Old Standard TT", serif !important;
  font-weight: 300;
  font-size: 28px;
  text-align: center;
}
.slider__container--bottom p {
  font-family: "Roboto", sans-serif !important;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  margin-top: 15px;
  color: #777777;
  line-height: 1.5;
}

.swiper {
  width: 350px;
  height: 300px;
  --swiper-navigation-size: 15px;
  margin-bottom: 100px;
  z-index: 1;
}
.swiper .swiper-pagination-bullet-active {
  background: #bdac8d;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: #111111;
  background-color: white;
  padding: 25px;
  font-size: 12px;
}
.swiper .swiper-button-prev:hover,
.swiper .swiper-button-next:hover {
  background-color: #bdac8d;
  color: white;
}
.swiper .swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.facilities__container {
  display: flex;
  flex-direction: column;
}
.facilities__container .facilities {
  display: none;
}
.facilities__container .swiper__facilities {
  width: 350px;
  height: 400px;
  --swiper-navigation-size: 15px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 18px 17px 52px 0px rgba(194, 192, 194, 0.452);
}
.facilities__container .swiper__facilities .swiper-pagination-bullet {
  background-color: #bead8e;
}
.facilities__container .swiper__facilities .swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
  height: 90%;
}
.facilities__container .donut__container {
  justify-content: left;
}
.facilities__container .donut__container .donut {
  height: 100px;
  width: 100px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.video__container {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.video__container h4 {
  color: #bead8e;
  font-family: "Archivo", sans-serif !important;
  letter-spacing: 2.8px;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 50px;
}
.video__container h1 {
  font-size: 56px;
  margin-left: 20px;
  font-weight: 100;
  margin-bottom: 10px;
  margin-top: 50px;
  color: white;
}
.video__container p {
  color: #c2c2c2;
  font-family: "Archivo", sans-serif !important;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  text-align: left;
  line-height: 1.5;
  font-size: 14px;
}
.video__container video {
  display: flex;
  margin: auto;
  width: 300px;
  height: 300px;
}

.menu__container--images {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
}
.menu__container--images h4 {
  font-family: "Archivo", sans-serif !important;
  letter-spacing: 2.8px;
  font-weight: 300;
  color: #777777;
  margin-bottom: 20px;
}
.menu__container--images h1 {
  font-family: "Old Standard TT", serif !important;
  font-size: 56px;
  margin-bottom: 50px;
  font-weight: 100;
}
.menu__container--images .food {
  display: flex;
  flex-direction: column;
}
.menu__container--images .food img {
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  width: 300px;
  height: 200px;
}

.pre-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222222;
}
.pre-footer__container .pre-footer__container--images {
  margin-top: 60px;
  color: white;
  font-weight: 500;
  margin-bottom: 50px;
}
.pre-footer__container .pre-footer__container--images img {
  display: flex;
  margin: auto;
}
.pre-footer__container .pre-footer__container--images h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  font-size: 45px;
}
.pre-footer__container .pre-footer__container--images h2 small {
  font-size: 10px;
}
.pre-footer__container .pre-footer__container--images p {
  text-align: center;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: #c2c2c2;
}

.rooms div {
  margin-top: 30px;
}
.rooms div h1 {
  padding: 10px;
}
.rooms div p {
  text-align: left;
  color: #777777;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  font-size: 15px;
  padding: 10px;
}
.rooms div h5 {
  color: #bead8e;
  font-size: 20px;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  padding: 10px;
}
.rooms div img {
  display: flex;
  margin: auto;
  width: 360px;
  height: 250px;
}
.rooms div button {
  display: flex;
  border: none;
  background: none;
  color: #bdbdbd;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  margin: auto;
}
.rooms div div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
}

footer {
  background-image: url(../../assets/footer/background.png);
  display: grid;
  grid-template-columns: 100%;
  margin-top: 70px;
  width: 100%;
  height: 100%;
}
footer .footer__socials {
  margin-bottom: 20px;
}
footer .footer__socials img {
  margin-top: 50px;
}
footer .footer__socials p {
  font-family: "Archivo", sans-serif;
  text-align: left;
  font-size: 14px;
  line-height: 1.75;
  color: #777777;
  margin-left: 20px;
  margin-right: 20px;
}
footer .footer__socials .socials {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  margin-left: 20px;
}
footer .footer__socials .socials:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.3s ease-in;
}
footer h4 {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 24px;
  margin-left: 20px;
  margin-bottom: 20px;
}
footer .footer__services {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 30px;
}
footer .footer__services ul {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #777777;
  list-style: none;
  line-height: 48px;
  margin-left: 20px;
}
footer .footer__contact {
  display: grid;
  grid-template-columns: 100%;
}
footer .footer__contact .contact__icon {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 60px;
}
footer .footer__contact .contact__icon img {
  margin: auto;
  display: grid;
  grid-column: 1;
}
footer .footer__contact .contact__icon p {
  grid-column: 2;
  margin: auto;
  margin-right: 120px;
  font-family: "Old Standard TT", serif;
}
footer .footer__contact .contact__icon p small {
  font-family: "Roboto", sans-serif;
  color: #777777;
}

.footer__policy {
  background-color: #f8f8f8;
  padding: 10px;
}
.footer__policy h4 {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

@media only screen and (min-width: 1000px) {
  .header .header__container .header__container-titles h4 {
    font-family: "Archivo", sans-serif !important;
    letter-spacing: 2.8px;
    font-weight: 400;
    margin-top: 150px;
    margin-bottom: 30px;
    margin-left: 20%;
  }
  .header .header__container .header__container-titles h2 {
    font-size: 56px;
    margin-left: 20%;
    font-weight: 100;
  }
  button {
    margin-left: 20%;
  }
  .button__secondary {
    margin-left: 5% !important;
  }
  .form__container {
    height: 100px;
  }
  .form__container form {
    margin-left: 20%;
    height: 130px;
    width: 100%;
    margin-top: 40px;
  }
  .form__container form fieldset {
    border: none;
    display: flex;
    width: 90%;
  }
  .form__container form fieldset p {
    margin-left: 60px;
  }
  .form__container form fieldset p label {
    font-size: 13px;
  }
  .form__container form fieldset p .form__input {
    width: 230px;
  }
  .form__container form fieldset p .form__input::placeholder {
    color: rgba(242, 231, 212, 0.568627451);
    font-family: "Roboto", sans-serif !important;
  }
  .form__container form fieldset p img {
    width: 12px;
  }
  .form__container form fieldset button {
    width: 250px;
    height: 50px;
    margin-bottom: 15px;
    margin-left: 20%;
  }
  .facilities__container {
    display: flex;
    flex-direction: column;
  }
  .facilities__container .facilities {
    display: flex;
    margin: auto;
  }
  .facilities__container .donut__container {
    justify-content: left;
  }
  .facilities__container .donut__container .donut {
    height: 200px;
    width: 200px;
    margin-left: 50px;
  }
  .facilities__container .swiper__facilities {
    display: none;
  }
  .main__container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 50px;
    width: 90%;
    margin: auto;
    margin-top: 100px;
  }
  .main__container .main__container--text {
    display: grid;
    background-color: #f9f9f9;
    grid-column: 2;
    margin: auto;
  }
  .main__container .main__container--text h4 {
    margin-top: 20px;
  }
  .main__container .main__container--text button {
    margin-left: 20px;
  }
  .main__container .main__container--photos {
    display: grid;
    grid-row: 1;
    grid-template-columns: 50% 50%;
    margin: auto;
    gap: 10px;
    width: 100%;
  }
  .main__container .main__container--photos .room-image {
    width: 300px;
    height: 250px;
  }
  .menu__container--images {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
  }
  .menu__container--images h4 {
    font-family: "Archivo", sans-serif !important;
    letter-spacing: 2.8px;
    font-weight: 300;
    color: #777777;
    margin-bottom: 20px;
  }
  .menu__container--images h1 {
    font-family: "Old Standard TT", serif !important;
    font-size: 56px;
    margin-bottom: 50px;
    font-weight: 100;
  }
  .menu__container--images .food {
    display: flex;
    flex-direction: row;
  }
  .menu__container--images .food img {
    display: flex;
    margin: auto;
    width: 400px;
    height: 300px;
  }
  .main__rooms {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
  }
  .swiper {
    width: 700px;
    height: 400px;
    --swiper-navigation-size: 15px;
    margin-bottom: 100px;
    z-index: 1;
  }
  .swiper .swiper-pagination-bullet-active {
    background: #bdac8d;
  }
  .swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: #111111;
    background-color: white;
    padding: 25px;
    font-size: 12px;
  }
  .swiper .swiper-button-prev:hover,
.swiper .swiper-button-next:hover {
    background-color: #bdac8d;
    color: white;
  }
  .swiper .swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .video__container {
    display: grid;
    grid-template-columns: 65% 35%;
    margin-top: 50px;
    margin-bottom: 56px;
  }
  .video__container .text__container {
    display: grid;
    grid-column: 1;
    width: 70%;
    margin: auto;
  }
  .video__container .text__container button {
    margin-bottom: 56px;
    margin-left: 20px;
  }
  .video__container .image__container {
    display: grid;
    grid-column: 2;
    background-color: #bead8e;
  }
  .video__container .image__container video {
    margin: auto;
    width: 95%;
  }
  .little-slider__container {
    display: flex;
    padding: 15px;
    flex-direction: column;
    margin-top: 20px;
  }
  .little-slider__container .fake-photo {
    margin: auto;
    mask-repeat: repeat;
  }
  .little-slider__container .little-slider {
    display: none;
  }
  .rooms {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding: 15px;
    margin-top: 50px;
    width: 100%;
    height: 100%;
  }
  .rooms div {
    padding: 10px;
    text-align: center;
  }
  .rooms div h1 {
    display: grid;
    grid-column: 2;
    font-size: 30px;
    font-weight: 200;
    margin-top: 20px;
  }
  .rooms div p {
    color: #777777;
    font-family: "Roboto", sans-serif;
    line-height: 24px;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    height: 100px;
  }
  .rooms div h5 {
    color: #bead8e;
    font-size: 20px;
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    width: 50%;
  }
  .rooms div img {
    width: 360px;
    height: 250px;
  }
  .rooms div button {
    background: none;
    color: #bdbdbd;
    display: flex;
    justify-content: center;
    text-align: center;
    align-self: center;
    font-family: "Archivo", sans-serif;
    font-size: 18px;
    width: 50%;
  }
  .rooms div div {
    bottom: 0;
  }
  .rooms__pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .rooms__pagination a {
    background-color: #bead8e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Archivo", sans-serif;
    margin-left: 40px;
    padding: 5px;
    height: 50px;
    width: 120px;
    text-decoration: none;
  }
  .rooms__pagination a:hover {
    background-color: rgba(190, 173, 142, 0.5607843137);
    cursor: pointer;
    transition: 0.2s ease;
  }
  .pre-footer__container {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 70px;
  }
  .pre-footer__container .pre-footer__container--images {
    color: white;
    font-weight: 500;
    margin: auto;
  }
  .pre-footer__container .pre-footer__container--images img {
    display: flex;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .pre-footer__container .pre-footer__container--images p {
    margin-bottom: 50px;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 100px;
  }
  footer .footer__services {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  footer .footer__services ul {
    font-size: 14px;
  }
  footer .footer__contact {
    display: grid;
    grid-template-columns: 100%;
  }
  footer .footer__contact .contact__icon {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 60px;
  }
  footer .footer__contact .contact__icon h4 {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-size: 24px;
    margin-left: 20px;
  }
  .footer__policy {
    background-color: #f8f8f8;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
  }
  .footer__policy h4 {
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: auto;
  }
}
.navbar__header {
  z-index: 10;
}
.navbar__header h6 {
  display: none;
}

.navbar {
  display: flex;
  justify-content: right;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
}
.navbar .navbar__categories--mobile {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 10px;
  line-height: 30px;
  width: 100%;
}
.navbar .navbar__categories--mobile li {
  list-style: none;
  font-family: "Archivo", sans-serif !important;
  font-size: 12px;
  margin-right: 50px;
  font-weight: 600;
}
.navbar .navbar__categories--mobile .close {
  cursor: pointer;
  width: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.navbar .navbar__categories--mobile-hidden {
  display: none;
}
.navbar .navbar__container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 100%;
  height: 50%;
}
.navbar .navbar__categories {
  display: none;
}
.navbar .navbar__categories a:hover {
  cursor: pointer;
}
.navbar .navbar__container-icon {
  display: flex;
  width: 20%;
}
.navbar .navbar__container-logo {
  display: flex;
  width: 50%;
  height: 100%;
}
.navbar .navbar__container-icons-right {
  display: flex;
  width: 25%;
}
.navbar .navbar__container-icons-right .navbar__search {
  display: none;
}
.navbar .navbar__container-icons-right .navbar__search img {
  display: none;
}
.navbar .navbar__container-icons-right .search__hidden {
  display: none;
}
.navbar .navbar__container-icons-right .search__visible {
  display: hidden;
}
.navbar .navbar__logo {
  width: 130px;
  height: 50px;
}
.navbar .navbar__hamburger {
  width: 20px;
  height: 15px;
  margin: auto;
  background-image: url(../../assets/nav/hamburger-icon.png);
  cursor: pointer;
  border: none;
}
.navbar .navbar__person {
  margin-left: 20px;
  margin: auto;
}
.navbar .navbar__person:hover {
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  .navbar__header {
    display: flex;
    justify-content: right;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  .navbar__header h6 {
    display: flex;
    height: 15px;
    color: white;
    font-family: "Roboto", sans-serif !important;
  }
  .navbar__header .navbar__categories--mobile {
    display: none;
  }
  .navbar__header {
    background-color: #222222;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
  }
  .navbar__header .navbar {
    display: inline-block;
    width: 75%;
    height: 80px;
    background-color: white !important;
    margin: auto;
    margin-top: 40px;
  }
  .navbar__header .navbar .navbar__categories {
    display: inline-flex;
    width: 90%;
    height: 20px;
    margin-top: 20px;
    margin-right: 100px;
  }
  .navbar__header .navbar .navbar__categories li {
    list-style: none;
    font-family: "Archivo", sans-serif !important;
    font-size: 12px;
    margin-right: 50px;
    font-weight: 600;
  }
  .navbar__header .navbar .navbar__container-icon {
    display: flex;
    width: 20%;
  }
  .navbar__header .navbar .navbar__container-logo {
    display: flex;
    width: 60%;
    height: 100%;
    margin-left: -80px;
    margin-top: -30px;
  }
  .navbar__header .navbar .navbar__container-icons-right {
    display: flex;
    width: 20%;
    margin-right: 90px;
  }
  .navbar__header .navbar .navbar__container-icons-right .search__visible {
    border: 1px solid rgba(0, 0, 0, 0.206);
    border-radius: 5px;
    height: 35px;
    font-family: "Archivo", sans-serif !important;
    align-self: center;
    padding: 9px;
    margin-left: 5px;
  }
  .navbar__header .navbar .navbar__logo {
    width: 180px;
    height: 80px;
    margin-top: 20px;
    width: 170px;
    height: 70px;
    margin-left: 20px;
  }
  .navbar__header .navbar .navbar__logo:hover {
    cursor: pointer;
  }
  .navbar__header .navbar .navbar__search {
    display: flex;
    border: 1px solid rgba(171, 167, 167, 0.459);
    padding: 10px;
    width: 40px;
    height: 40px;
  }
  .navbar__header .navbar .navbar__hamburger {
    display: none;
  }
}
html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

* {
  font-family: "Old Standard TT", serif;
}

header .header__cover {
  background-color: #222222;
  color: #ffffff;
  width: 100%;
}
header .header__cover h4 {
  font-family: "Archivo", sans-serif;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 2.8px;
  font-size: 13px;
  margin: auto;
  margin-left: 20px;
  margin-top: 60px;
}
header .header__cover h1 {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 56px;
  margin: auto;
  margin-left: 20px;
  margin-bottom: 40px;
  margin-top: 15px;
}
header .header__cover .header__cover--choices {
  background-color: #ffffff;
  border: none;
  color: black;
  display: flex;
  justify-content: center;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  margin-left: 190px;
  padding: 5px;
  width: 156px;
  height: 49px;
}
header .header__cover .header__cover--choices a {
  display: inline-block;
  font-family: "Archivo", sans-serif;
  margin-top: 10px;
  font-size: 16px;
  padding: 5px;
}
header .header__cover .header__cover--choices .about {
  color: #bead8e;
}

body .body__container--video h1 {
  display: flex;
  margin: auto;
  margin-top: 20px;
  font-weight: 200;
  padding: 10px;
  width: 90%;
}
body .body__container--video video {
  display: flex;
  margin: auto;
  margin-top: 100px;
  width: 90%;
}
body .four__sections {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  margin-top: 50px;
}
body .restaurant__container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
body .restaurant__container h4 {
  color: #777777;
  font-family: "Archivo", sans-serif !important;
  letter-spacing: 2.8px;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 50px;
}
body .restaurant__container h1 {
  font-size: 40px;
  margin-left: 20px;
  font-weight: 100;
  margin-bottom: 10px;
  margin-top: 50px;
  color: #222222;
}
body .restaurant__container p {
  font-family: "Archivo", sans-serif !important;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  line-height: 24px;
  font-size: 14px;
  color: #777777;
}
body .restaurant__container .fake-photo {
  width: 80%;
  margin: auto;
}
body .about__container--facilities {
  background-color: #222222;
  padding: 30px;
  margin-top: 100px;
}
body .about__container--facilities h4 {
  color: #ffffff;
  font-family: "Archivo", sans-serif;
  letter-spacing: 2.8px;
  text-align: center;
  margin-bottom: 20px;
}
body .about__container--facilities h1 {
  color: #ffffff;
  text-align: center;
  font-size: 45px;
}
body .about__container--facilities .facilities__container--images {
  display: none;
}
body .counter__container h4 {
  color: #777777;
  font-family: "Archivo", sans-serif !important;
  letter-spacing: 2.8px;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 50px;
}
body .counter__container h1 {
  color: #222222;
  font-size: 56px;
  margin-left: 20px;
  font-weight: 100;
  margin-bottom: 10px;
  margin-top: 20px;
}
body .counter__container .facts__container--images {
  width: 95%;
  margin: auto;
}
body .little-slider__container {
  display: flex;
  flex-direction: column;
}
body .little-slider__container img {
  margin: auto;
  margin-top: 20px;
  width: 300px;
}
body .swiper__core--facilities {
  display: flex;
  width: 300px;
  height: 400px;
  --swiper-navigation-size: 15px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
body .swiper__core--facilities .swiper-pagination-bullet {
  background-color: #bead8e;
}
body .swiper__core--facilities .swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
  height: 90%;
}

@media only screen and (min-width: 1000px) {
  header .header__cover {
    background-color: #333333;
    padding: 50px;
    height: 360px;
  }
  header .header__cover h4 {
    margin-top: 120px;
    margin-left: 20%;
  }
  header .header__cover h1 {
    margin-left: 20%;
  }
  header .header__cover .header__cover--choices {
    margin-left: 70%;
  }
  body .swiper__core--facilities {
    display: none;
  }
  body .body__container--video {
    display: flex;
    flex-direction: column;
    margin-top: 350px;
    margin: auto;
  }
  body .body__container--video h1 {
    font-size: 50px;
    font-weight: 200;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    width: 60%;
  }
  body .body__container--video video {
    margin: auto;
    margin-top: 100px;
    width: 60%;
  }
  body .four__sections {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    margin-top: 50px;
  }
  body .restaurant__container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 50px;
    margin-bottom: 56px;
  }
  body .restaurant__container img {
    height: 80%;
  }
  body .restaurant__container button {
    margin-left: 20px;
  }
  body .about__container--facilities {
    background-color: #222222;
    padding: 30px;
  }
  body .about__container--facilities h4 {
    color: #ffffff;
  }
  body .about__container--facilities h1 {
    color: #ffffff;
  }
  body .about__container--facilities .facilities__container--images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  body .counter__container {
    padding: 20px;
  }
  body .counter__container .facts__container--images {
    display: flex;
    justify-content: space-between;
  }
  body .little-slider__container {
    display: flex;
    flex-direction: row;
  }
  body .little-slider__container img {
    width: 600px;
  }
}
body #first__room {
  margin-top: 400px;
}
body .slider__pagination {
  display: flex;
  justify-content: center;
}
body .slider__pagination img {
  margin: auto;
}

@media only screen and (min-width: 1000px) {
  .room__image {
    display: flex;
    margin: auto;
    margin-top: 20px;
    width: 770px;
    height: 490px;
  }
  .room__name {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    margin-top: 50px;
    width: 770px;
    height: 146px;
    box-shadow: 5px 5px 20px rgba(172, 172, 174, 0.2666666667);
  }
  .room__name h2 {
    margin: auto;
    font-family: "Old Standard TT", serif;
    font-weight: 400px;
    font-size: 48px;
  }
  .pricing {
    display: grid;
    grid-column: 2;
  }
  .pricing h3 {
    margin: auto;
    font-weight: 700;
    font-family: "Archivo", sans-serif;
    font-size: 35px;
    color: #BEAD8E;
  }
  .pricing h3 small {
    font-size: 15px;
  }
  .room__description {
    margin: auto;
    margin-top: 50px;
    width: 770px;
    text-align: left;
    color: #777777;
    font-weight: 400;
    line-height: 24px;
  }
  .room__amenities {
    margin: auto;
    margin-top: 50px;
    width: 770px;
    text-align: left;
  }
  .room__amenities hr {
    width: 670px;
    height: 1px;
    color: rgba(241, 241, 241, 0.7137254902);
  }
  .room__amenities h2 {
    font-size: 30px;
    font-weight: 100;
    font-family: "Old Standard TT", serif;
    color: #222222;
    margin-bottom: 20px;
  }
  .room__amenities p {
    margin-top: 20px;
  }
  .cancellation {
    color: #777777;
  }
}
.map {
  display: flex;
  margin: auto;
  height: 300px;
  width: 350px;
  margin-top: 50px;
  z-index: -1;
}

.custom-map-control-button {
  background: rgb(255, 255, 255) none repeat scroll 0% 0% padding-box;
  display: table-cell;
  border: 0px none;
  margin: 10px;
  padding: 0px 17px;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  height: 40px;
  color: rgb(86, 86, 86);
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

#locations {
  height: 50%;
  width: 50%;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
  left: 0px;
  top: 0px;
}
#locations li {
  border-bottom: 1px solid rgba(190, 173, 142, 0.3803921569);
  text-align: left;
  list-style: none;
  letter-spacing: 0.5px;
  margin: auto;
  font-family: "Archivo", sans-serif;
  font-weight: 500;
  padding: 10px;
  width: 50%;
}
#locations h6 {
  color: #777777 !important;
  text-align: right;
  list-style: none;
  margin: auto;
  font-size: 16px;
  font-family: "Archivo", sans-serif;
  font-weight: 500;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.buttons .input__container {
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 35%;
}
.buttons .input__container #input__text {
  border: 1px solid rgba(128, 128, 128, 0.382);
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
  font-family: "Archivo", sans-serif;
  height: 35px;
  width: 270px;
}
.buttons .input__container #button__input {
  background-color: #bead8e;
  border: none;
  color: white;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 120px;
}
.buttons .input__container #button__input:hover {
  scale: 1.05;
  transition: 0.2s ease;
}

.select__container {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: auto;
}
.select__container #button__location {
  background-color: #bead8e;
  border: none;
  color: white;
  padding: 10px;
  margin: auto;
  margin-right: 20px;
}
.select__container #button__location:hover {
  scale: 1.05;
  transition: 0.2s ease;
}
.select__container .selector {
  width: 30%;
  color: white;
  background-color: #bead8e;
  border: none;
  border-radius: 8px;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  padding: 10px;
  margin: auto;
  letter-spacing: 2px;
  width: 130px;
}
.select__container .selector:hover {
  cursor: pointer;
}
.select__container .selector option {
  color: white;
  border: none;
  display: flex;
  font-family: "Archivo", sans-serif;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}
.select__container .selector option:hover {
  cursor: pointer;
}

.form__contact {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  font-family: "Archivo", sans-serif;
}
.form__contact h1 {
  align-self: center;
  color: #333333;
}
.form__contact form {
  align-self: center;
  border-top: 1px solid #bead8e;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 90%;
}
.form__contact form label {
  margin: 10px 0px;
}
.form__contact form input,
.form__contact form textarea {
  padding: 5px;
}
.form__contact form .button {
  align-self: center;
  background-color: #bead8e;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 15px;
  margin-top: 10px;
  padding: 5px;
  width: 100%;
}
.form__contact form .button:hover {
  background-color: #655d4e;
  transition: 0.2s ease-in-out;
}

@media only screen and (min-width: 1000px) {
  .map {
    display: flex;
    margin: auto;
    height: 500px;
    width: 800px;
    margin-top: 50px;
    z-index: -1;
  }
  .custom-map-control-button {
    background: rgb(255, 255, 255) none repeat scroll 0% 0% padding-box;
    display: table-cell;
    border: 0px none;
    margin: 10px;
    padding: 0px 17px;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    height: 40px;
    color: rgb(86, 86, 86);
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  }
  #locations {
    height: 100%;
    width: 100%;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
  }
  #locations li {
    border-bottom: 1px solid rgba(190, 173, 142, 0.3803921569);
    text-align: left;
    list-style: none;
    letter-spacing: 0.5px;
    margin: auto;
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    padding: 10px;
    width: 50%;
  }
  #locations h6 {
    color: #777777 !important;
    text-align: right;
    list-style: none;
    margin: auto;
    font-size: 16px;
    font-family: "Archivo", sans-serif;
    font-weight: 500;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .buttons .input__container {
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 35%;
  }
  .buttons .input__container #input__text {
    border: 1px solid rgba(128, 128, 128, 0.382);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    font-family: "Archivo", sans-serif;
    height: 35px;
    width: 270px;
  }
  .buttons .input__container #button__input {
    background-color: #bead8e;
    border: none;
    color: white;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 120px;
  }
  .buttons .input__container #button__input:hover {
    scale: 1.05;
    transition: 0.2s ease;
  }
  .select__container {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
  }
  .select__container #button__location {
    background-color: #bead8e;
    border: none;
    color: white;
    padding: 10px;
    margin: auto;
  }
  .select__container #button__location:hover {
    scale: 1.05;
    transition: 0.2s ease;
  }
  .select__container .selector {
    width: 30%;
    color: white;
    background-color: #bead8e;
    border: none;
    border-radius: 8px;
    font-family: "Archivo", sans-serif;
    font-size: 14px;
    padding: 10px;
    margin: auto;
    letter-spacing: 2px;
  }
  .select__container .selector:hover {
    cursor: pointer;
  }
  .select__container .selector option {
    color: white;
    border: none;
    display: flex;
    font-family: "Archivo", sans-serif;
    font-size: 12px;
    align-items: center;
    justify-content: center;
  }
  .select__container .selector option:hover {
    cursor: pointer;
  }
  .form__contact {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    font-family: "Archivo", sans-serif;
  }
  .form__contact h1 {
    align-self: center;
    color: #333333;
  }
  .form__contact form {
    align-self: center;
    border-top: 1px solid #bead8e;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
  }
  .form__contact form label {
    margin: 10px 0px;
  }
  .form__contact form input,
.form__contact form textarea {
    padding: 5px;
  }
  .form__contact form .button {
    align-self: center;
    background-color: #bead8e;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 15px;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
  }
  .form__contact form .button:hover {
    background-color: #655d4e;
    transition: 0.2s ease-in-out;
  }
}
.rooms__offers {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  width: 100%;
  height: 100%;
}
.rooms__offers div {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.rooms__offers div img {
  display: flex;
  margin: auto;
  margin-top: 20px;
  width: 700px;
  height: 400px;
  z-index: 1;
}
.rooms__offers div button {
  background: none;
  color: #bdbdbd;
  display: flex;
  justify-content: center;
  text-align: left;
  align-self: center;
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  width: 50%;
}
.rooms__offers div div {
  background-color: white;
  border-top: 5px solid #bead8e;
  display: flex;
  flex-direction: column-reverse;
  margin: auto;
  margin-top: -100px;
  width: 700px;
  z-index: 2;
}
.rooms__offers div div h1 {
  font-size: 30px;
  font-weight: 200;
  margin-top: 20px;
}
.rooms__offers div div p {
  color: #777777;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
  height: 100px;
  width: 90%;
}
.rooms__offers div div h5 {
  color: #bead8e;
  font-size: 20px;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  width: 50%;
}
.rooms__offers div div .titleAndPrice__container {
  background-color: white;
  border-bottom: 1px solid rgba(190, 173, 142, 0.6745098039);
  border-top: none;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.rooms__offers div div .titleAndPrice__container h1 {
  font-size: 40px;
  font-weight: 200;
  margin-top: 20px;
  align-self: flex-start;
}
.rooms__offers div div .titleAndPrice__container h5 {
  color: #bead8e;
  font-size: 15px;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  align-self: flex-end;
  text-align: right;
  text-decoration: line-through;
  margin-left: 20px;
}
.rooms__offers div div .titleAndPrice__container .redPrice {
  color: red;
  font-size: 20px;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  align-self: flex-end;
  text-decoration: none;
  text-align: right;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*# sourceMappingURL=main.css.map */
